<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="title_container">
      <h2><%= title %></h2>
    </div>
    <div class="product_container">
      <% products.forEach((product) => { %>
        <div class="product_card">
          <img src="<%= product.img %>" alt="product design">
          <div class="card_text">
            <a href="product/<%= product.id %>/detail"><%= product.name %></a>
            <span>$ <%= product.price %></span>
          </div>
          <div class="card_btn">
            <a href="product/<%= product.id %>/update"><i class="fa-regular fa-pen-to-square"></i></a>
            <a href="product/<%= product.id %>/delete"><i class="fa-regular fa-trash-can"></i></a>
          </div>
        </div>
      <% }) %>
    </div>
  </body>
</html>
