<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="title_container">
      <h2><%= title %></h2>
    </div>
    <div class="product_container">
        <div class="product_card">
          <img src="<%= product.img %>" alt="product design">
          <div>
            <p><%= product.name %></p>
            <span>$ <%= product.price %></span>
          </div>
        </div>
    </div>
  </body>
</html>