<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="title_container">
      <h2><%= title %></h2>
    </div>
    <div class="form_container">
      <form method="POST" action="" enctype="multipart/form-data" class="form_create">
        <h3><%= formTitle %></h3>
        <div class="preference">
          <label for="img">Image:</label>
          <input type="file" name="img" id="img" required>
        </div>
        <div class="preference">
          <label for="name">Product name:</label>
          <input
          type="text"
          name="name"
          value="<%= typeof product === 'undefined' ? '' : product.name %>"
          required
          />
        </div>
        <div class="preference">
          <label for="company">Company:</label>
          <input
          type="text"
          name="company"
          value="<%= typeof product === 'undefined' ? '' : product.company %>"
          required
          />
        </div>
        <div class="preference">
          <label for="price">Price:</label>
          <input
            type="number"
            name="price"
            value="<%= typeof product === 'undefined' ? '' : product.price %>"
            required
          />
        </div>
        <button type="submit">Continue</button>
      </form>
    </div>

    <% if(typeof errors !='undefined'){ %>
      <ul>
        <% errors.forEach(err=>{%>
        <li><%=err.msg %></li>
        <% }) %>
      </ul>
    <% } %>
  </body>
</html>
